/*estilização*/


p{
    font-size: 20px;
        /*link de estilo da fonte*/
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
      }
      



.uppercase{
    text-transform: uppercase;}


.lowercas{
    text-transform: lowercase;}


.capitalize{
    text-transform: capitalize;}


.indent{
    text-indent: 50px;}


.shadow{
    text-shadow: 1px 1px #F09;}


.shadow-blur{
    text-shadow: 1px 1px 5px #F09 ;}


.overline{
    text-decoration:overline ;}


.line-through{
    text-decoration: line-through ;}


.underline{
    text-decoration: underline ;}


.overline-underline{
    text-decoration: overline underline;}
